@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;700&family=Keania+One&family=Nunito+Sans:wght@400;600;800&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* .slick-prev {
  background: #000;
}
.slick-arrow {
  background: #000000;
  color: aqua;
} */

div .slick-prev:before {
  background: #ffff;
  color: #1f1f1f;
}

div .slick-next:before {
  background: #ffff;
  color: #1f1f1f;
}
.collection-card::before {
  content: "";
  display: block;
  width: 100%;
  height: 5rem;
  background: linear-gradient(transparent, #000001);
  position: absolute;
  bottom: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
